//color
$colors: (
  primary: #db9e3f,
  primary-1: #805300,
  black: #171823,
  black-1: #222222,
  black-2: #494a4f,
  black-3: #343440,
  black-4: #333333,
  gray: #ededed,
  gray-1: #666666,
  gray-2: #777777,
  gray-3: #999999,
  gray-4: #7a7a80,
  gray-5: #f9f9f9,
  gray-6: #fcfcfc,
  white: #ffffff,
  blue: #4b67af,
  blue-1: #464f73,
  blue-2: #4394E4,
  blue-4:#1f3695,
  border-color: #d4d9de,
  danger: #791a16
);

//border-color

//font-size
$base-font-size: 1rem;
$sizes: (
  xs: 0.7385, //9.6px
  xs-1: 0.8462, //11px
  sm: 0.9231, //12px
  md: 1, //13px
  md-1: 1.0769, //14px
  md-2: 1.1538, //15px
  lg: 1.2308, //16px
  lg-1: 1.3077 //17px
);


//flex
$flex-jc: (
  start: flex-start,
  end: flex-end,
  center: center,
  between: space-between,
  around: space-around
);

$flex-ai: (
  start: flex-start,
  end: flex-end,
  center: center,
  stretch: stretch
);

//spacing
$base-spacing-size:1rem;

$spacing-types: (
  m: margin,
  p: padding
);

$spacing-direction: (
  t: top,
  r: right,
  b: bottom,
  l: left
);

$spacing-level: (
  0: 0,
  1: 0.25,
  2: 0.5,
  3: 1,
  4: 1.5,
  5: 3
);

